version: "3.7"

services:

  tomcat:
    image: tomcat:10.0.0-jdk11-openjdk
    container_name: tomcat-10
    ports:
      - 8080:8080
      - 8443:8443
      - 8100:8100
    volumes:
#      - ./tomcat/catalina.sh:/usr/local/tomcat/bin/catalina.sh:rw
      - ./tomcat/server.xml:/usr/local/tomcat/conf/server.xml:rw
      - ./tomcat/tomcat-users.xml:/usr/local/tomcat/conf/tomcat-users.xml:rw
      - ./war/examples:/usr/local/tomcat/webapps/examples
