version: "3.8"

services:

  nginx:
    image: nginx:1.19.6
    container_name: marco27-web-nginx
    ports:
      - 80:80
    volumes:
      - ./www:/var/www/marco27.net
      - ./nginx/site.conf:/etc/nginx/conf.d/marco27.net.conf
    depends_on:
      - tomcat
      - php
    networks:
      - nginx-php
      - nginx-tomcat
      - nginx-nodejs

  nodejs:
    container_name: marco27-web-nodejs
    ports:
      - 9000:9000
    volumes:
      - ./nodejs:/var/nodejs
    environment:
      - NODE_ENV=development
    working_dir: /var/nodejs
    build:
      context: ./nodejs
      dockerfile: Dockerfile
    depends_on:
      - nginx
    networks:
      - nginx-nodejs

  tomcat:
    image: tomcat:9.0.41-jdk11-openjdk-slim
    container_name: marco27-web-tomcat
    ports:
      - 8080:8080
    volumes:
      - ./tomcat/server.xml:/usr/local/tomcat/conf/server.xml:rw
      - ./war/marco27-web.war:/usr/local/tomcat/webapps/marco27-web.war
    depends_on:
      - mariadb
      - mongodb
      - solr27
    networks:
      - nginx-tomcat
      - tomcat-mariadb
      - tomcat-mongodb
      - tomcat-solr

  php:
    image: php:7.4-fpm
    container_name: marco27-web-php
    volumes:
      - ./www:/var/www/marco27.net
      - ./php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - mariadb
    networks:
      - nginx-php
      - mariadb-php-myadmin

  mariadb:
    image: mariadb:10.5
    container_name: marco27-web-mariadb
    ports:
      - 3306:3306
    restart: always
    command: "mysqld --init-file /data/application/init.sql"
    volumes:
      - mariadb-data:/var/lib/mysql
      - ./sql/init.sql:/data/application/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: qwerty
    networks:
      - mariadb-php-myadmin
      - tomcat-mariadb

  phpmyadmin:
    image: phpmyadmin:5.0.4
    container_name: marco27-web-phpmyadmin
    ports:
      - 8000:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mariadb
    depends_on:
      - mariadb
    networks:
      - mariadb-php-myadmin

  mongodb:
    image: library/mongo:4.4.2-bionic
    container_name: marco27-web-mongo
    ports:
      - 27017-27019:27017-27019
    environment:
      - MONGO_INITDB_DATABASE=local
      - MONGO_INITDB_ROOT_USERNAME=mongo-admin
      - MONGO_INITDB_ROOT_PASSWORD=qwerty
    volumes:
      - ./mongo/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo-js:ro
      - ./mongodb-data:/data/db
    networks:
      - mongo-mongoexpress
      - tomcat-mongodb

  mongo-express:
    image: mongo-express:0.54.0
    container_name: marco27-web-mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_SERVER: marco27-web-mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: mongo-admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: qwerty
    depends_on:
      - mongodb
    networks:
      - mongo-mongoexpress

  solr-volume-initializer:
    image: alpine
    container_name: marco27-web-solr-volume-initializer
    restart: "no"
    entrypoint: |
      /bin/sh -c "chown 8983:8983 /var/solr"
    volumes:
      - ./solr-data:/var/solr
    networks:
      - solr-zoo

  solr27:
    image: solr:8.7
    container_name: marco27-web-solr
    ports:
      - 8983:8983
    environment:
      - ZK_HOST=zoo27:2181
    volumes:
      - ./solr-data:/var/solr
    depends_on:
      - solr-volume-initializer
      - zoo27
    networks:
      - solr-zoo
      - tomcat-solr

  zoo27:
    image: zookeeper:3.6
    container_name: marco27-web-zookeeper
    restart: always
    hostname: zoo27
    ports:
      - 2181:2181
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=0.0.0.0:2888:3888;2181
    networks:
      - solr-zoo

volumes:
  mariadb-data:
  mongodb-data:
  solr-data:

networks:
  nginx-nodejs:
  nginx-php:
  nginx-tomcat:
  mariadb-php-myadmin:
  mongo-mongoexpress:
  tomcat-mariadb:
  tomcat-mongodb:
  tomcat-solr:
  solr-zoo:
