version: "3.7"

services:

  nginx:
    image: nginx:1.19.6
    container_name: marco27-web-nginx
    ports:
      - 80:80
    volumes:
      - ./www:/var/www/marco27.net
      - ./nginx/site.conf:/etc/nginx/conf.d/marco27.net.conf
    depends_on:
      - php
      - mariadb
      - mongodb

  php:
    image: php:7.4-fpm
    container_name: marco27-web-php
    volumes:
      - ./www:/var/www/marco27.net
      - ./php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - mariadb

  mariadb:
    image: mariadb:10.5
    container_name: marco27-web-mariadb
    ports:
      - 3306:3306
    restart: always
    command: "mysqld --init-file /data/application/init.sql"
    volumes:
      - mariadb-data:/var/lib/mysql
      - ./sql/init.sql:/data/application/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: qwerty

  phpmyadmin:
    image: phpmyadmin:5.0.4
    container_name: marco27-web-phpmyadmin
    ports:
      - 8000:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mariadb
    depends_on:
      - mariadb

  mongodb:
    image: library/mongo:4.4.2-bionic
    container_name: marco27-web-mongo
    ports:
      - 27017-27019:27017-27019
    environment:
      - MONGO_INITDB_DATABASE=local
      - MONGO_INITDB_ROOT_USERNAME=local
      - MONGO_INITDB_ROOT_PASSWORD=qwerty
    volumes:
      - ./mongo/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo-js:ro
      - ./mongodb-data:/data/db

volumes:
  mariadb-data:
  mongodb-data:
