version: "3.7"

services:

  jenkins:
    image: jenkins/jenkins:2.263.1-lts-alpine
    privileged: true
    user: root
    container_name: jenkins-lts
    ports:
      - 8081:8080
      - 50081:50000
    volumes:
      - ./jenkins-volume/data:/var/jenkins_home
      - ./jenkins-volume/docker.sock:/var/run/docker.sock
      - ./jenkins-volume/bin:/usr/local/bin/docker
